body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h2 {
    color: #719264;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #719264;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #719264;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #719264;
    color: white;
}

a {
    text-decoration: none;
    color: #719264;
    margin-right: 10px;
}

a:hover {
    color: #385f38;
}

.navbar {
    background-color: #719264;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #385f38;
    color: white;
}